<table class="table">
              <tr>
                <td align='left' width='70'><strong>Due by</strong></td>
                <td><strong>Task</strong></td>
                <td align='right' width='80'><strong>Days Left</strong></td>
                <td align='right' width='50'></td>
              </tr>
  <% @tasks.each do |task| %>
              <% if task.priority == priority %>
                <% if (due == 'earlier' && (task.due - Date.today).to_i < @thresholds[0].value) || (due == 'later' && (task.due - Date.today).to_i >= @thresholds[0].value) %>
                  <tr>
                    <td align='left'><%= task.due.strftime("%m-%d") %></td>
                    <td><%= task.content %></td>
                    <td align=''>
                      <!-- Show days left if task has not expired yet -->
                      <% if (task.due - Date.today).to_i >= 0 %>
                        <%= (task.due - Date.today).to_i %>
                      <% else %>
                        <em>Expired</em>
                      <% end %>
                    </td>
                    <td align='right'>[<%= link_to 'View', task_path(task) %>]</td>
                  </tr>
                <% end %>
              <% end %>
  <% end %>
</table>